# .env file
EMAIL_HOST_USER=email-of-smtp-host-user
EMAIL_HOST_PASSWORD=app-password-of-smtp-host
SECRET_KEY=Django-secret-key
DEBUG=False

# PSQL Database
DATABASE=database-name
USER=database-username
PASSWORD=database-password
HOST=database-host(ip)
PORT=database-port(default:5432)